[ng-cloak] {
    display: none;
}

a {
    text-decoration: none;

    new-post[label="new post"] > & {
        display: inline-block;
        margin-bottom: 1rem;
    }
}

body > div.container {
    margin-bottom: 1rem;
}
