[ng-cloak] {
    display: none;
}

a {
    text-decoration: none;
}

new-post {
    &[label="new post"] > a {
        display: inline-block;
        margin-bottom: 1rem;
    }

    input[type="text"] {
        width: 40rem;
    }
}

body > div.container {
    margin-bottom: 1rem;
}
