<!DOCTYPE html>
<html ng-app="yarn">
<head>
  <title>Yarn</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="yarnCtrl">

<user></user>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
